.menu-block-title {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: orange;
    color: orange;
  }
  
  .menu-title {
    color: white;
    text-shadow:0.1em 0.1em 0.2em black;
    font-family:"Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
  }

  .menu-list {
    padding: 0px !important;
    color: orange;

  }




